*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 100%;
  max-width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  width: 100%;
  max-height: 456px;
  max-width: 771px;
}

.result__video-container {
  position: relative;
  width: 100%;
  max-height: 386px;
  height: 100%;
}

.result__video {
  width: 100%;
  height: auto;
  max-height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #fff;
  margin-bottom: 7.5px;
}

.search-form__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgb(255 255 255 / 0.7);
  appearance: none;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  background-color: transparent;
  min-width: 225px;
  height: 27px;
}

.search-form__textfield:focus {
  outline: none;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  max-width: 212px;
  width: 100%;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  flex-direction: row;
  width: 19px;
  height: 19px;
  margin: 1.5px 5px 1.5px 0;
  border: 1px solid #fff;
}

.search-form__label:hover:has(.search-form__pseudo-checkbox) {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__label:has(:focus-visible):has(.search-form__textfield:active) {
  outline: none;
}

.search-form__label:active > .search-form__pseudo-checkbox {
  background-color: #fff;
  background-position: center;
  outline: 1px solid #fff;
  outline-offset: 1px;
}


input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
  background-position: center;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #fff;

  border: 1px solid #fff;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  justify-self: stretch;
  align-self: stretch;
  margin-top: 20px;
}

.content__details {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 399px;
}

.title {
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 298px;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
}

.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.content__card-link {
  display: block;
  margin: 3px;
  text-decoration: none;
  color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__card-link:focus {
  text-decoration-color: #fff;
  text-underline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-description-container {
  overflow: hidden;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6px;
  max-width: 200px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;

  color: #fff;
}

.content__video-card-thumbnail {
  height: 100%;
  width: 100%;
  max-height: 103px;
  max-width: 194px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  height: 34px;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
